@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
    --primary-color: #f60f20;
}

body {
    font-family: 'Cabin', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* BASE STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
}

p {
    margin:  20px 0px 10px;
    font-size: 1.1rem;
}

section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    margin-top: 60px;
}

section.home-page {
    flex-direction: row;
}

/* BUTTON */
.btn {
    display: inline-block;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding:  10px 30px;
    margin:  20px 0;
    border-radius: 7.5px;
    box-shadow: 3px 3px 6px rgb(109, 109, 109);
}

.btn:hover {
    box-shadow: 1.5px 1.5px 3px gray;
    transform: scale(0.985);
}

.logo {
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 2rem;
    font-weight: 700;
    z-index: 20;
}

/* TOGGLE */
.toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: var(--primary-color) url('/menu.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 20;
}

.toggle.active {
    background: var(--primary-color) url('/close.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.active {
    left: 0;
}

.navigation ul {
    position: relative;
}

.navigation ul li {
    position: relative;
    list-style: none;
    text-align: center;

}

.navigation ul li a {
    font-size: 2.2rem;
    color: black;
    text-decoration: none;
    font-weight: 300;
}

.navigation ul li a:hover {
    color: var(--primary-color);
}

.navigation .social-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation .social-bar a {
    display: inline-block;
    transform: scale(0.5);
}

.navigation .email-icon {
    position: absolute;
    bottom: 20px;
    transform: scale(0.5);
}

/* HOME PAGE ONLY */
.home-content {
    z-index: 10;
    max-width: 600px;
    position: relative;
}

.home-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
}

/* SERVICES PAGE ONLY */
.services {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    text-align: center;
}

.services .service {
    padding: 30px;
    box-shadow: 3px 3px 6px 1px rgb(206, 205, 205);
    border-radius: 7.5px;
}

.services .service:hover {
    background-color: rgb(248, 248, 248);
    box-shadow: 1px 1px 2px 0.5px rgb(220, 220, 220);
}

.services .service h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    color: rgb(4, 4, 78);
}

.services .service .icon img {
    max-width: 100px;
}

/* WORK PAGE */
.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.portfolio .item {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.portfolio .item img {
    width: 100%;
    height: 100%;
}

.portfolio .item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 58, 58, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.65s;
}

.portfolio .item:hover .action {
    opacity: 1;
}

.portfolio .item a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 15px;
}

/* CONTACT PAGE */
.contact {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form {
    position: relative;
    background: rgb(238, 238, 238);
    width: calc(100% - 400px);
    padding: 60px 40px 20px;
}

.contact-form form {
    width: 100%;
}

.contact-form .row {
    width: 100%;
    display: flex;
}

.contact-form .input50 {
    width: 50%;
    margin: 0 10px;
}

.contact-form .input100 {
    width: 100%;
    margin: 0 10px;
}
.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(58, 58, 58, 0.75);
    color: rgb(41, 41, 41);
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
    border-radius: 7.5px;
}

.contact-form .row textarea {
    height: 150px;
}

.contact-form .row input[type='submit'] {
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgb(109, 109, 109);
}

.contact-form .row input[type='submit']:hover {
    box-shadow: 1.5px 1.5px 3px gray;
    transform: scale(0.995);
}

.contact-info {
    width: 350px;
    background: rgb(238, 238, 238);
    padding: 60px 40px 20px;
}

.contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 25px;
}

.contact-info .info-box .details h4 {
    color: rgb(4, 4, 78);
}

.contact-info .info-box .details a {
    color: rgb(41, 41, 41);
}

/* MEDIA QUERIES MODIFICATION SECTION */
@media(max-width: 1205px) {
    .home-img {
        display: none;
    }
    .logo {
        top: 10px;
        left: 40px;
        font-size: 1.5rem;
    }
    section {
        padding: 100px 40px;
    }
    .navigation ul li a {
        font-size: 2rem;
    }
    .services {
        grid-template-columns: 1fr 1fr;
    }
    .contact {
        flex-direction: column;
    }
    .contact-form, .contact-info {
        width: 100%;
        padding: 30px 30px 20px;
    }
    .contact-info {
        margin-top: 20px;
    }
}

@media(max-width: 850px) {
    .contact-form .row {
        flex-direction: column;
    }
    .contact-form .row .input50 {
        width: 100%;
    }
}

@media(max-width: 600px) {
    .services {
        grid-template-columns: 1fr;
    }
}
